.header {
    background-color:var(--clr-primary-400);
    padding: 20px;
    border-radius: 0%;
}

.header_text {
    color: var(--clr-secondary-400);
    font-weight: 900;
    font-size: large;
    justify-content: center;
}